.container-map {
    width: 100%;
}
#explore-map {
    height: calc(100svh - 45px - 300px);
    background-color: gray;
}
.main-wrapper {
    position: relative;
}
.container-filter {
    min-width: 100%;
    background: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    top: 45px;
    z-index: 999;
}
.container-filter > #filter-form {
    background: rgba(255, 255, 255, 0.692);
    width: fit-content;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.container-textbox {
    height: 300px;
    width: 100%;
    display: flex;
/*     position: absolute;
    bottom: 250px;
    z-index: 998; */
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.path-textbox {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .5em;
    padding: .3em;
}
    .path-textbox > .textbox {
        width: 100%;
        overflow-y: scroll;
    }
    .path-textbox > img {
        width: 300px;
        height: calc(300px - .6em);
        object-fit: cover;
    }
    .path-textbox > a {
        position: absolute;
        text-decoration: none;
        font-weight: bold;
        font-size: .8em;
        font-style: italic;
        text-transform: uppercase;
        color: black;
        background-color: rgba(252, 252, 252, 0.733);;
        padding: .5em;
        border-radius: 3px;
        margin: .3em;
    }
    @media screen and (max-width: 620px ) {
        .path-textbox > img {
            width: 150px;
        }
    }
.path-notextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    
}
    .path-notextbox > * {
        margin-block: .15em;
        margin-inline: 2.5em;
        text-align: center;
    }
.container-footer {
    margin-top: 0;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

.custom-marker {
    background-color: rgb(180, 186, 196);
    color: rgb(49, 54, 58);
    padding: .3em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.425);
    overflow: hidden;
}
.custom-marker > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' -25,
  'opsz' 40
}
    .custom-marker:hover {
        border-color: rgb(128, 0, 0);
        background-color: rgb(180, 186, 196);
    }
    .custom-marker:hover > .material-symbols-outlined {
        color: rgb(128, 0, 0);
        font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' -25,
        'opsz' 40;
    }