* {
    font-family: 'roboto';
}
html {
}
body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

.container-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: 45px;
    background-color: whitesmoke;
}
    .container-nav * {
        text-decoration: none;
        color: black;
    }
        .container-nav > .nav-logo {
            font-weight: bold;
            font-size: 1.56em;
            font-style: italic;
            text-transform: uppercase;
            padding-left: 2em;
            width: 1px;
        }
        .container-nav > .nav-links * {
            padding-inline: 1em;
        }
        .container-nav > .nav-hamburger {
            padding-right: 2em;
            font-weight: bold;
        }


.container-paths {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    max-width: 960px;
}
    @media screen and (max-width: 985px) {
        .container-paths {
            max-width: 635px;
        }
    }

.container-path {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: whitesmoke;
    width: 300px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    margin-bottom: 0.8em;
}

    .path-title {
        position: absolute;
        top: 190px;
        left: 1em;
        z-index: 999;
    }
        .path-title * {
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-style: italic;
            text-shadow: 1px 1px 5px black;
        } 
        .path-title > h2 {
            font-weight: bold;
            color: white;
        }
        .path-title > h3 {
            font-size: 1em;
            font-weight: 500;
            color: rgba(245, 245, 245, 0.945);        
        }

    .path-image {
        position: relative;
        width: 300px;
        height: 250px;
        min-height: 250px;
        min-width: 300px;
        z-index: 500;
        background-size: cover;
        background-color: whitesmoke;
    }
        .path-image::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 250px;
            z-index: 550;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 50%, rgba(0,0,0,0.8743872549019608) 100%);
        }
    .path-info {
        height: 100%;
        margin: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
        .path-description {
            color: black;
        }
        .path-grade {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: .5em;
            background-color: rgb(211, 224, 210);
            padding: .5em;
        }
        .path-grade > * {
            text-align: center;
            font-size: 1em;
        }

.container-footer {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 250px;
}

/* LEAFLET */
.leaflet-control-fullscreen {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    left: auto;  /* Override left positioning */
}

.leaflet-control-zoom {
    display: none;
}

.path-maps {
    position: absolute; /* Position should be absolute if you want it to expand within its parent */
    right: 5px;
    top: 8px;
    width: 100px;
    height: 50px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 999; /* Ensure it is on top of other elements */
    filter: drop-shadow(0 0 2px black);
    }

.path-maps:hover {
    width: 290px;
    height: 97%;
    filter: drop-shadow(0 0 20px black);    
}