* {
    font-family: 'roboto';
}

:root {
    --color-dark: rgb(20, 20, 20);
    --color-bright-1: rgb(255, 255, 255);
    --color-bright-a7: rgba(255, 255, 255, 0.70);
    --color-bright-2: rgb(245, 245, 245);
    --color-text: rgb(58, 58, 58);
    --color-text-inverted: rgb(255, 255, 255);

    --color-card-bg: whitesmoke;
    --color-card-border: rgba(0, 0, 0, 0.089);

    --color-button-bg: rgb(222, 231, 222);
    --color-button-border: rgb(205, 223, 200);

    --text-bold: 800;
    --icon-weight: 400;
}

[data-darkmode="on"] {
    --color-dark: rgb(39, 39, 39);
    --color-bright-1: rgb(36, 36, 36);
    --color-bright-a7: rgba(34, 34, 34, 0.7);
    --color-bright-2: rgb(26, 26, 26);
    --color-text: rgb(233, 241, 233);
    --color-text-inverted: rgb(255, 255, 255);

    --color-card-bg: rgb(48, 48, 48);
    --color-card-border: rgba(0, 0, 0, 0.089);

    --color-button-bg: rgb(51, 51, 51);
    --color-button-border: rgb(31, 31, 30);

    --text-bold: 400;
    --icon-weight: 300;
}

html {
    background-color: var(--color-dark);
}

b {
    font-weight: 600;
}
[data-darkmode=on] b {
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bright-1);
    width: 100%;
    position: relative;
}

.main-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 43px;
    z-index: 9999;
    background-color: var(--color-bright-2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
    .container-nav * {
        text-decoration: none;
        color: var(--color-text);
    }
        .container-nav > .nav-links {
            width: 650px;
            display: flex;
            justify-content: space-around;
        }
        .container-nav > .nav-links > a > span {
            padding-inline: .5em;
            padding-block: .2em;
            margin-block: .1em;
        }

        /* DM toggle */
            .toggle-wrapper {
                position: fixed;
                top: 10px;
                right: 10px;
            }
            .toggle-wrapper > span {
                position: absolute;
                left: 25px;
                z-index: 999;
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
            [data-darkmode=on] .toggle-wrapper > span {
                opacity: 0;
                pointer-events: none;
            }
            .toggle {
                width: 50px;
                height: 25px;
                background-color: #ccc;
                border-radius: 25px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .toggle[data-active="true"] {
                background-color: #4caf50;
            }

            .toggle::before {
                content: "";
                position: absolute;
                width: 21px;
                height: 21px;
                background-color: white;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                transition: transform 0.3s;
            }

            .toggle[data-active="true"]::before {
                transform: translateX(25px);
            }


.container-filter {
    width: 100%;
    max-width: 930px;
    margin: .3em;
    display: flex;
}
    form {
        width: 100%;
        margin-inline: .3em;
        display: flex;
        justify-content: end;
        gap: 1em;
        
    }
    .container-filter > form > select {
        border: none;
        background: none;
        cursor: pointer;
        color: var(--color-text);
        font-size: .9em;
        text-align: end;
        width: fit-content;
    }
    .container-filter > form > select > option {
        background: var(--color-bright-a7);
        color: var(--color-text);
        text-align: center;
    }
    .container-filter > form > select > option:nth-child(1) {
        display: none;
    }
    .container-filter > form > button {
        border: none;
        padding-inline: .5em;
        padding-block: .3em;
        background: var(--color-button-bg);
        border-left: 2px solid var(--color-button-border);
        border-radius: 10px;
        color: var(--color-text);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.container-paths {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    min-height: 600px;
}

.paths-welcome {
    width: 100%;
    max-width: 930px;
    margin-block: .3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    margin-inline: .3em;
}
    .paths-welcome > * {
        margin: 0;
    }
    .paths-welcome > h1 {
        font-size: 5em;
        font-style: var(--text-bold);
    }
/* Trail cards */
.container-path {
    position: relative;
    margin: .3em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-card-bg);
    width: 300px;
    height: 500px;
    border: 1px solid var(--color-card-border);
    border-radius: 15px;
    overflow: hidden;
}
.path-title {
    position: absolute;
    top: 190px;
    left: 1em;
    z-index: 999;
}
.path-title * {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 1px 1px 5px black;
} 
.path-title > h2 {
    font-weight: 600;
    color: var(--color-text-inverted);
}
.path-title > h3 {
    font-size: 1em;
    font-weight: 400;
    color: var(--color-text-inverted);
    opacity: .85;        
}
.path-image {
    position: relative;
    width: 100%;
    height: 250px;
    min-height: 250px;
    z-index: 500;
    background-size: cover;
    background-position: center;
}
.path-image::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 550;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 50%, rgba(0,0,0,0.8743872549019608) 100%);
}
.path-info {
    position: relative;
    z-index: 500;
    height: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.path-description {
    color: var(--color-text);
    margin-bottom: 1em;
    height: fit-content;
    min-height: fit-content;
}
.path-button {
    position: absolute;
    z-index: 998;
    top: -255px;
    left: -8px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}
.path-button > a {
    text-decoration: none;
    font-weight: 500;
    font-size: .8em;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-text);
    background-color: var(--color-bright-a7);
    padding: .5em;
    transition: font-weight .2s ease-in-out;
    border-radius: 3px;
}
    .path-button > a:hover {
        font-weight: 600;
    }
.path-grade {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5em;
    background-color: var(--color-bright-a7);
    color: var(--color-text);
    padding: .5em;
}
.path-grade > * {
    text-align: center;
    font-size: 1em;
}
.path-grade-item {
    position: relative;
    cursor: pointer;
}
    .path-grade-item:hover .grade-S0::before,
    .path-grade-item:hover .grade-S1::before,
    .path-grade-item:hover .grade-S2::before,
    .path-grade-item:hover .grade-S3::before,
    .path-grade-item:hover .grade-S4::before,
    .path-grade-item:hover .grade-S5::before {
        display: block;
    }
    .grade-S0::before, .grade-S1::before, .grade-S2::before, .grade-S3::before, .grade-S4::before, .grade-S5::before {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 235px;
        padding: .3em;
        box-shadow: 1px 1px 10px black;
        background-color: var(--color-card-bg);
        border: 3px solid var(--color-card-border);
        text-align: start;
        transition: all .2s ease-in-out;
        display: none;
        z-index: 999;
    }
        .grade-S0::before {
            content: 'S0: Den enkleste løypetypen er preget av lett til moderat stigning, sklisikkert underlag og svake svinger. For å gjennomføre denne løypa er det ingen spesielle krav til kjøreteknikken.';
        }
        .grade-S1::before {
            content: 'S1: Her kan du forvente mindre hindringer, som røtter eller steiner. Til dels ustabilt underlag og svingene blir kvassere, men uten skarpe svinger. Maksimal gradient her er 40 prosent.';
        }
        .grade-S2::before {
            content: 'S2: Vanskelighetsgraden øker og store steiner og røtter er å forvente. Sjelden fast grunn under hjulene og det er flate trinn eller trapper. Kvasse svinger og brattheten kan være opptil 70 prosent.';
        }
        .grade-S3::before {
            content: 'S3: I denne kategorien beveger du deg i blokkert terreng med store steinblokker eller lange røtter. Skarpe svinger og bratte bakker og man må ofte påregne løst underlag. Vanlige bakker på 70 prosent er vanlige.';
        }
        .grade-S4::before {
            content: 'S4: Det er bratt og mange hinder. Lange, utfordrende stier med røtter og store steinblokker, og løst underlag er vanlig. Skarpe svinger og bratte stigninger stiller spesielle krav til kjøreteknikken.';
        }
        .grade-S5::before {
            content: 'S5: Den øvre enden av skalaen er preget av sterkt hindret terreng, løst underlag med steinsprut, trange skarpe svinger og høye hindringer, som veltede trær – selvfølgelig, inkludert bratte stigninger. Det er liten bremselengde og MTB-teknikken settes på prøve.';
        }
/* FOOTER */
.container-footer {
    background-color: var(--color-dark);
    width: 100%;
    height: fit-content;
    min-height: calc(100svh - 850px - 45px);
    display: flex;
    flex-direction: column;
    color: var(--color-text-inverted);
    font-weight: 200;
    margin-top: 1em;
    padding-block: .5em;
    justify-content: start;
    align-items: center;
}
.footer-logo > img {
    width: 100px;
    margin-bottom: 1em;
}
.footer-text {
    color:gray;
    font-weight: 400;
    margin-bottom: .3em;
    
}
.footer-text > p {
    transition: opacity .2s ease-in-out;
    opacity: .3;
}
.footer-text > p:hover {
    opacity: 1;
}
.footer-credits {
    color:gray;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: .3em;
    font-family: 'Gloria Hallelujah';
}
.footer-contact > a > .material-symbols-outlined {
    color: var(--color-text-inverted);
    font-size: 3em;
    margin-inline: .3em;
    margin-block: .3em;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 20
}


@media screen and (max-width: 940px ) {
    .container-paths {
        width: 620px;
        gap: .1em;
    }  
    .paths-welcome {
        max-width: 620px;
    }
    .container-nav > .nav-links {
        justify-content: center;
        gap: 3em;
    }
}

@media screen and (max-width: 620px ) {
    .container-paths {
        width: 350px;
    }
    .paths-welcome {
        align-items: center;
        margin-bottom: .5em;
        max-width: 350px;
    }
    .paths-welcome > p {
        width: 300px;
    }
    .paths-welcome > h1 {
        font-size: 2.7em;
        margin-bottom: .3em;
    }
    .container-nav > .nav-logo {
        font-size: 1em;
    }
    .container-nav > .nav-links {
        display: flex;
        justify-content: start;
        margin-left: .3em;
        gap: 1em;
    }
}

/* LEAFLET */
.leaflet-control-fullscreen {
    position: absolute;
    top: 5px; 
    left: 5px;
    opacity: 0;
}

.leaflet-control-zoom {
    display: none;
}

.path-maps {
    position: absolute; 
    right: 10px;
    top: 8px;
    width: 70px;
    height: 50px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
    z-index: 999; 
    border-radius: 3px;
    overflow: hidden;
    filter: opacity(.7);
}
    .path-maps:hover {
        width: 280px;
        height: 485px;
        filter: opacity(1);
        outline-style: solid;
        outline-color: #0000002f;
        outline-width: 2px;
        border-radius: 15px;
    }

/* CLIMB GRAPH */

.climb-graph {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 450;
}

.climb-graph canvas {
    width: 100% !important;
    height: 100% !important;
}

/* ICONS */
.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' var(--icon-weight),
  'GRAD' 0,
  'opsz' 20
}
a > .material-symbols-outlined:hover {
    outline: 2px solid var(--color-text);
    border-radius: 15px;
}


