@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-shadow: black;
    --color-dark: #333;
}

html, body, section, h1, h2, h3, p, a, img { 
    padding: 0;
    margin: 0;
}
    .bg-dark{background-color: var(--color-dark);}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
    h2 {
        font-family: 'Roboto Condensed';
    }

.container-map {
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    border-bottom: 2px dotted var(--color-dark);
}
    #map {
        flex: 1;
        height: 100%;
        max-height: 100vh;
    }
    
.container-path {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    max-width: 100%;
}
    .path {
        position: relative;
        height: 50vh;
        background-color: whitesmoke;
        margin: 0;
        padding: 0;
    }
    .path img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
    .path h2 {
        position: absolute;
        padding: .5em;
        margin: 0;
        bottom: 50%;

        font-size: 2em;
        color: white;
        filter: drop-shadow(3px 3px 5px black);
    }
    .path * {
        font-family: 'Roboto Condensed';
    }

    .path-desc-box {
        display: flex;
        height: 100%;
        max-height: 24vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
        .path-desc-box a {
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    .path-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        background-color: #cccccc;
        padding: .5em;
    }
        .path-info span {
            display: flex;
            flex-direction: row;
            gap: .2em;
        }
    .path-explore {
        margin-bottom: 1em;
        padding: .3em;

        background-color: rgb(77, 99, 77);
        width: 50%;
        border-radius: .5em;

        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        color: rgb(44, 54, 44);
    }